@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Dosis:wght@800&display=swap');

body{
    background-color: #EEE3D5;
    font-family: 'Cabin';
}
h1,
h2,
h3,
h4{
    font-family: 'Dosis';
    font-size: 30px;
    margin-bottom: 15px;
    padding: 10px 0;
    position: relative;
    text-align: center;
}

h1::after,
h2::after,
h3::after,
h4::after{
    background-color: #f49220;
    bottom: 0;
    content: '';
    height: 3px;
    left: 50%;
    min-width: 20px;
    position: absolute;
    transform: translate(-50%);
    width: 10%;
}

header{
    display: flex;
    justify-content: center;
}

header img{
    max-width: 100%;
    width: 700px;
}

.container-what {
    background-color: #f49220;
}

.container-what .inner-content .row{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    padding: 40px 5%;
}
.container-what .inner-content .counter-container{
    text-align: center;
    color:#fff;
}

.container-what .counter-container .counter{
    font-size: 45px;
    line-height: 47px;
}

.container-what .counter-container .type{
    font-size: 26px;
    line-height: 28px;
}

.container-what h2{
    color: white;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-what h2::after{
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-what img{
    max-width: 100%;
    object-fit: contain;
}

.content{
    margin: 20px 0;
}

.decoration{
    background-color: #EEE3D5;
    line-height: 0;
}

.decoration-bottom img{
    transform: rotateX(180deg);
}


.elfsight-app-7f59ca45-7f4b-496a-9e2b-95572c67a749 > a{
    max-height: 0!important;
    overflow: hidden!important;
    width: 0!important;
    background: transparent!important;
}

.eapps-instagram-feed-header.es-header{
    background-color: transparent;
}

.icthus-description{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    line-height: 22px;
}

.two-columns-content{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
}

.video-container{
    position: relative;
    overflow: hidden;
    text-align: center;
}

.video-container iframe{
    aspect-ratio: 16/9;
    height: auto;
    margin: 40px 0;
    width: 90%;
}

.video-container::before{
    animation: moveAround 10s infinite linear;
    aspect-ratio: 1/1;
    background-color: #f49220;
    border-radius: 20px;
    content: '';
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0;    
    width: 20%;
    z-index: -1;
}

.wrapper{
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

@keyframes moveAround{

    0% {
        left: 30%
        top: 0;
        transform: rotate(0deg) rotate(90deg);
    }
    25% {
        left: 80%;
        top: 30%;
        transform: rotate(90deg)  rotate(180deg);
    }
    50% {
        left: 30%; 
        top: 70%;
        transform: rotate(90deg)  rotate(270deg);
    }
    75% {
        left: 0; 
        top: 30%;
        transform: rotate(270deg)  rotate(0deg);
    }
    100% {
        left: 30%
        top: 0;
        transform: rotate(-180deg)  rotate(270deg);
    }
}